<!DOCTYPE html>
<html>
    <head>
        <title>BOON!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="/css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div class="landing-header">
        <h1>
            <span class="landing-header-main">
                    Something that is very helpful and improves the quality of life
            </span>
            <span class="landing-sub-header">
                    noun | UK <i class="volume up icon"></i>/bu:n/ | US <i class="volume up icon"></i>/bu:n/
            </span>
        </h1>
        <!-- <div class="ui horizontal divider"></div> -->
        <a href="/articles" class="ui inverted button btn-slideshow">ENTER THE BOON!</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>