<% include ./partials/header %>

<div class="register-container">
    <h1>
        Sign Up
    </h1>
    <form action="/register" method="POST">

        <div class="ui inverted input">
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="ui inverted divider"></div>

        <div class="ui inverted input">
            <input type="text" name="email" placeholder="blabla@bla.com">
        </div>
        <div class="ui inverted divider"></div>
        
        <div class="ui selection inverted dropdown">
                <input type="hidden" name="team">
                <i class="dropdown icon"></i>
                <div class="default text">Team</div>
                <div class="menu">
                  <div class="item" data-value="A">Alpha</div>
                  <div class="item" data-value="B">Beta</div>
                </div>
              </div>
        <div class="ui inverted divider"></div>

        <div class="ui inverted input">
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="ui inverted divider"></div>
        

        <button class="ui secondary button">Sign up</button>

    </form>
    
</div>


<% include ./partials/footer %>