<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css"   href="/css/app.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
		
		<title>BOON!</title>
	</head>
	<body class='bg-gradient top'>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand"><i class="optin monster icon"></i>BOON</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/sprints">HOME</a></li>
						<li><a href="/sprints">DVLPMNTS</a></li>
						<li><a href="/sprints">SPTLGHT</a></li>
						<li><a href="/sprints">TEAMS</a></li>
						<li><a href="/sprints">ABOUT</a></li>
						<li><a href="/sprints/new">Post it</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if (!currentUser){ %>
							<li><a class="item" href="/login">Log in</a></li>
							<li><a class="item" href="/register">Sign up</a></li>
						<% } else { %>
							<li><a class="item" href="">Signed In As <%=currentUser.username%></a></li>
							<li><a class="item" href="/logout">Log out</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<!-- Empty error is not undefined -> it's an empty array, so we need to check length -->
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger">
					<%= error %>
				</div>
			<% } %>
			
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success">
					<%= success %>
				</div>
			<% } %>
		</div>