<% include ./partials/header %>

<div class="login-container">
    <h1>
        Login
    </h1>
    <form action="/login" method="POST">
        <div class="ui inverted input">
            <input type="text" name="username" placeholder="username/e-mail adress">
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui inverted input">
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="ui inverted divider"></div>
        <button class="ui secondary button">Login</button>
    </form>
</div>


<% include ./partials/footer %>