<% include ../partials/header %>

<div class="register-container">
    <h1>
        New Post!
    </h1>
    <form action="/posts" method="POST">
        <div class="ui selection inverted dropdown">
            <input type="hidden" name="team">
            <i class="dropdown icon"></i>
            <div class="default text">Sprint</div>
            <div class="menu">
                <div class="item" data-value="A">1</div>
                <div class="item" data-value="B">2</div>
            </div>
        </div>
        <div class="ui inverted divider"></div>

        <div class="ui inverted input">
            <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="ui inverted divider"></div>

        <div class="ui inverted input">
            <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="ui inverted divider"></div>
        
        

        <button class="ui secondary button">Submit</button>

    </form>
    
</div>



<% include ../partials/footer %>